@use "sass:map";
@use "sass:math";
@use "common/config" as *;
@use "common/var" as *;
@use "common/fun" as *;
@use "common/mixins" as *;

@include b(input, wrap) {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: cssVar(color-secondary-0);
  cursor: text;
  transition: all .3s cssVar(bezier);

  @include b(input) {
    width: 100%;
    outline: none;
    line-height: 1.5715;
    background-color: transparent;
    @include m(mini) {
      padding: 1px 0;
      font-size: 12px;
      line-height: 1.667;
    }
    @include m(small) {
      padding: 2px 0;
      font-size: 12px;
      line-height: 1.667;
    }
    @include m(medium) {
      padding: 4px 0;
      font-size: 14px;
    }
    @include m(large) {
      padding: 6px 0;
      font-size: 14px;
    }
  }
  @include e(prefix) {
    display: inline-flex;
    align-items: center;
    padding-right: 12px;
    &>i {
      color: cssVar(color-secondary-7);
    }
  }
  @include e(suffix) {
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
    &>i {
      color: cssVar(color-secondary-7);
    }
  }
  @include e(clear-btn) {
    width: 16px !important;
    height: 16px !important;
    margin-left: 3px;
    font-size: 12px;
    color: cssVar(color-secondary-8);
    background-color: transparent;
    opacity: 0;
  }
  @include e(word-limit) {
    font-size: 12px;
    color: cssVar(color-secondary-6);
    user-select: none;
  }

  &:hover {
    background-color: cssVar(color-secondary-1);
    @include e(clear-btn) {
      opacity: 1;
      &:hover {
        background-color: cssVar(color-secondary-3);
      }
    }
  }
  @include is-or(':focus-within', focus) {
    border-color: cssVar(color-primary-5);
    background-color: transparent;
    @include e(clear-btn) {
      background-color: transparent;
      &:hover {
        background-color: cssVar(color-secondary-1);
      }
    }
  }

  @include is(readonly) {
    @include is-or(':focus-within', focus) {
      border-color: transparent;
      background-color: cssVar(color-secondary-0);
      &:hover {
        background-color: cssVar(color-secondary-1);
      }
    }
    @include e(clear-btn) {
      opacity: 0;
      cursor: default;
    }
  }
  @include is(disabled) {
    background-color: cssVar(color-secondary-0);
    &:hover {
      background-color: cssVar(color-secondary-0);
    }
    cursor: not-allowed;
    @include b(input) {
      cursor: not-allowed;
    }
    @include e(clear-btn) {
      opacity: 0;
      cursor: not-allowed;
    }
  }
  @include is(error) {
    background-color: cssVar(color-error-1);
    &:hover {
      @include is-not(disabled) {
        background-color: cssVar(color-error-2);
        @include e(clear-btn) {
          &:hover {
            background-color: cssVar(color-error-4);
          }
        }
      }
    }
    @include is-or(':focus-within', focus) {
      @include is-not(disabled) {
        border-color: cssVar(color-error-5);
        background-color: transparent;
        @include e(clear-btn) {
          &:hover {
            background-color: cssVar(color-secondary-1);
          }
        }
      }
    }
    @include is(disabled) {
      &:hover {
        background-color: cssVar(color-error-1);
      }
    }
    @include is(readonly) {
      @include is-or(':focus-within', focus) {
        border-color: transparent;
        background-color: cssVar(color-error-2);
      }
    }
  }
  @include is(full) {
    display: flex;
    width: 100%;
  }
  @include is(empty) {
    @include e(clear-btn) {
      opacity: 0;
      cursor: default;
      pointer-events: none;
    }
  }
}
