@use "sass:map";
@use "sass:math";
@use "common/config" as *;
@use "common/var" as *;
@use "common/fun" as *;
@use "common/mixins" as *;

@include b(modal, wrap) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: cssVar(z-index);
  width: 100vw;
  height: 100vh;
  overflow: auto;

  @include b(modal) {
    @include set-css-var(modal-x, 0);
    @include set-css-var(modal-y, 0);
    @include set-css-var(modal-width, 520px);
    @include set-css-var(modal-height, auto);
  }

  @include b(modal) {
    width: cssVar(modal-width);
    height: cssVar(modal-height);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15vh auto 50px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
                0 6px 16px 0 rgba(0, 0, 0, 0.08),
                0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    transform: scale(1) translate3d(cssVar(modal-x), cssVar(modal-y), 0);
    transition: width .2s, height .2s, margin .2s, transform .2s;

    @include is(fullscreen) {
      margin: 0 auto;
    }

    @include is-and(draggable, dragging) {
      transition: none;
      @include e(header) {
        cursor: move;
      }
    }

    @include e(header) {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 48px;
      width: 100%;
      padding-left: 16px;
      padding-right: 5px;

      @include e(title) {
        color: #333639;
        font-size: 18px;
        font-weight: 700;
      }

      @include e(toolbar) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &>button {
          margin: 0;
          border-color: transparent !important;
          color: cssVar(color-secondary-8) !important;
          &:hover {
            background-color: cssVar(color-secondary-0) !important;
          }
        }
      }
    }
    @include e(body) {
      flex: 1;
      padding: 16px;
    }
    @include e(footer) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 16px 10px;
    }
  }
  @include b(modal, mask) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .4);
  }

  &-enter-from,
  &-leave-to {
    @include b(modal) {
      opacity: 0;
      transform: scale(0) translate3d(cssVar(modal-x), cssVar(modal-y), 0);
    }
    @include b(modal, mask) {
      opacity: 0;
    }
  }
  &-enter-active,
  &-leave-active {
    @include b(modal) {
      transition: opacity .3s cssVar(bezier), transform .3s cssVar(bezier) !important;
    }
    @include b(modal, mask) {
      transition: opacity .3s cssVar(bezier);
    }
  }
}

