@use "sass:map";
@use "sass:math";
@use "common/config" as *;
@use "common/var" as *;
@use "common/fun" as *;
@use "common/mixins" as *;

@include b(scrollbar) {
  @include set-css-var(scrollbar-thumb-size, 8px);
  @include set-css-var(scrollbar-track-size, 12px);
  @include set-css-var(scrollbar-border-radius, 4px);
  @include css-var-from-global(scrollbar, bezier);
}

@include b(scrollbar) {
  position: relative;
  transition: all 0.2s cssVar(scrollbar, bezier);

  @include e(view) {
    height: 100%;
    width: 100%;
    overflow: auto;
    // IE10+
    -ms-overflow-style: none;
    // Chrome Safari
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include e(track) {
    position: absolute;
    z-index: auto;
    display: flex;
    cursor: pointer;
    pointer-events: none;

    @include e(thumb) {
      position: relative;
      border-radius: cssVar(scrollbar-border-radius);
      background-color: cssVar(color-secondary);
      pointer-events: all;
      -webkit-user-select: none;
    }

    @include is(vertical) {
      top: 0;
      right: 0;
      height: 100%;
      width: cssVar(scrollbar-track-size);
      flex-direction: row;
      justify-content: center;

      @include e(thumb) {
        width: cssVar(scrollbar-thumb-size);
      }
    }

    @include is(horizontal) {
      left: 0;
      bottom: 0;
      width: 100%;
      height: cssVar(scrollbar-track-size);
      flex-direction: column;
      justify-content: center;

      @include e(thumb) {
        height: cssVar(scrollbar-thumb-size);
      }
    }
  }

  @include is(embed) {
    @include e(track) {
      pointer-events: all;
    }
  }

  &-fade-enter-from,
  &-fade-leave-to{
    opacity: 0;
  }
  &-fade-enter-active,
  &-fade-leave-active{
    transition: opacity .5s cssVar(scrollbar, bezier);
  }
}
