@use "sass:map";
@use "sass:math";
@use "common/config" as *;
@use "common/var" as *;
@use "common/fun" as *;
@use "common/mixins" as *;

@include b(scrollbar) {
  @include set-css-var(scrollbar-thumb-size, 8px);
  @include set-css-var(scrollbar-track-size, 12px);
  @include set-css-var(scrollbar-border-radius, 4px);
  @include css-var-from-global(scrollbar, bezier);
}

@include b(scrollbar) {
  height: 100%;
  width: 100%;
  position: relative;
  padding-right: cssVar(scrollbar-track-size);

  @include e(view) {
    height: 100%;
    width: 100%;
    overflow: auto;
    // IE10+
    -ms-overflow-style: none;
    // Chrome Safari
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include e(track) {
    position: absolute;
    z-index: auto;
    cursor: pointer;

    @include e(thumb) {
      position: relative;
      border-radius: cssVar(scrollbar-border-radius);
      margin: auto;
      background-color: #909399;
      opacity: .3;
      -webkit-user-select: none;
    }

    @include is(vertical) {
      top: 0;
      right: 0;
      height: 100%;
      width: cssVar(scrollbar-track-size);

      @include e(thumb) {
        width: cssVar(scrollbar-thumb-size);
      }
    }

    @include is(horizontal) {
      left: cssVar(scrollbar, gap);
      right: calc(#{cssVar(scrollbar, gap)} + #{cssVar(scrollbar, thumb, width)});
      bottom: cssVar(scrollbar, gap);
      height: cssVar(scrollbar, thumb, width);

      @include e(thumb) {
        height: 100%;
      }
    }
  }
}
