@use "sass:math";
@use "sass:map";

$types: (primary, secondary, success, warning, danger, error);

//color
$colors: () !default;
$colors: map.deep-merge(
    (
      'secondary': #8d9095,
      'primary': #3a7afe,
      'success': #00c48f,
      'warning': #ff9f00,
      'danger': #f44336,
      'error': #f56c6c,
    ),
    $colors
);

$sizes: () !default;
$sizes: map.deep-merge(
    (
      'mini': 24px,
      'small': 28px,
      'medium': 32px,
      'large': 36px,
    ),
    $sizes
);

$paddings: () !default;
$paddings: map.deep-merge(
    (
      'mini': 6px,
      'small': 10px,
      'medium': 14px,
      'large': 18px,
    ),
    $paddings
);

$fontSizes: () !default;
$fontSizes: map.deep-merge(
    (
      'mini': 12px,
      'small': 14px,
      'medium': 14px,
      'large': 14px,
    ),
    $fontSizes
);

$bezier: cubic-bezier(0.4, 0, 0.2, 1);
$bezierEaseOut: cubic-bezier(0, 0, 0.2, 1);

$disabledOpacity: 0.6;

$borderRadius: 3px;

$zIndex: 2000;

$btn: () !default;
$btn: map.deep-merge(
      (
        'default-text-color': #252b3a,
        'default-border-color': #252b3a,
        'default-bg-color': #ebebeb,
        'default-hover-bg-color': #d1d1d1,
        'default-active-bg-color': #bdbdbd,
        'margin': 8px 0 8px 12px,
        'icon-margin': 4px,
      ),
    $btn
);

$global: (
  'color': $colors,
  'size': $sizes,
  'padding': $paddings,
  'font-size': $fontSizes,
  'bezier': $bezier,
  'disabled-opacity': $disabledOpacity,
  'border-radius': $borderRadius,
  'z-index': $zIndex,
  'btn': $btn,
);
