@use "sass:map";
@use "sass:math";
@use "common/config" as *;
@use "common/var" as *;
@use "common/fun" as *;
@use "common/mixins" as *;

:root {
  @include map-css-var(button, $button);
}

@include b(button) {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  outline: none;
  border: 1px solid transparent;
  border-radius: cssVar(border, radius);
  font-weight: cssVar(button, font-weight);
  color: cssVar(button, default-color);
  background-color: cssVar(button, default-bg-color);
  white-space: nowrap;
  transition: all .3s cssVar(bezier);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  & + & {
    margin: cssVar(button, margin);
  }

  &:hover,
  &:focus {
    background-color: cssVar(button, default-hover-bg-color);
  }

  &:active {
    background-color: cssVar(button, default-active-bg-color);
  }

  @include is(disabled) {
    opacity: cssVar(disabled, opacity);
    cursor: not-allowed;
    background-color: cssVar(button, default-bg-color);
  }

  @each $status in (primary, success, warning, danger, error, info) {
    @include m(default) {
      @include m($status) {
        color: #ffffff;
        border-color: cssVar(color, $status);
        background-color: cssVar(color, $status);

        &:hover:not(.is-disabled) {
          $hoverColor: cssVar(color, $status, 4);
          border-color: $hoverColor;
          background-color: $hoverColor;
        }

        &:active:not(.is-disabled) {
          $hoverColor: cssVar(color, $status, 6);
          border-color: $hoverColor;
          background-color: $hoverColor;
        }
      }
    }

    @include m(text) {
      @include m($status) {
        color: cssVar(color, $status);
        background-color: cssVar(color, $status, 0);

        &:hover:not(.is-disabled) {
          $hoverColor: cssVar(color, $status, 1);
          border-color: $hoverColor;
          background-color: $hoverColor;
        }
      }
    }

    @include m(link) {
      @include m($status) {
        color: cssVar(color, $status);
        border-color: transparent;
        background-color: transparent;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled) {
          text-decoration: underline;
        }
      }
    }

    @include m(outline) {
      @include m($status) {
        color: cssVar(color, $status);
        border-color: currentColor;

        &:hover:not(.is-disabled),
        &:focus:not(.is-disabled), {
          background-color: cssVar(color, $status, 0);
        }
      }
    }
  }

  @each $size in (large, medium, small, mini) {
    @include m($size) {
      height: cssVar(size, $size);
      padding: 0 cssVar(padding, $size);
      @if($size == mini) {
        font-size: cssVar(font-size, mini);
      } @else if($size == large) {
        font-size: cssVar(font-size, large);
      } @else {
        font-size: cssVar(font-size, small);
      }
      @include is(round) {
        border-radius: cssVar(size, $size);
      }
      @include is(circle) {
        width: cssVar(size, $size);
        padding: 0;
        border-radius: 50%;
      }
    }
  }

  @include is(loading) {
    cursor: wait;
    @include e(icon) {
      animation: rotating 2s linear infinite;
    }
  }

  @include is(block) {
    display: block;
    width: 100%;
  }

  @include m(icon-left) {
    flex-direction: row;
    @include e(label) {
      margin-left: cssVar(button, icon, margin);
    }
  }

  @include m(icon-right) {
    flex-direction: row-reverse;
    @include e(label) {
      margin-right: cssVar(button, icon, margin);
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
